.chat-main
  .group-info
    .group-left
      .left-1
        = @group.name
      .left-2
        Member:
        - @group.users.each do |u|
          = u.name

    .group-right
      .edit
        = link_to edit_group_path(@group) do
          edit
  .MessageField
    = render @messages

      
  .footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form
        .form_contents
          = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImage' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
          = f.submit 'Send', class: 'Form__submit'